.Estilo12 {	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #BE171F;
}
.Estilo26 {font-family: Arial, Helvetica, sans-serif; color: #000000; font-size: 10px; }
.Estilo30 {font-size: 12px; font-family: Arial, Helvetica, sans-serif; font-weight: bold; color: #BE171F; }
.Estilo32 {font-family: Arial, Helvetica, sans-serif; color: #FFFFFF; font-size: 10px; }
.Estilo6 {font-size: x-small}
.Estilo34 {font-size: x-small; color: #F5BD44; }